/vendor/
node_modules/
npm-debug.log
yarn-error.log
public/storage
public/hot
public/.htaccess
public_html/storage
public_html/hot
storage/*.key
storage/logs/*.log
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.php-cs-fixer.*
.styleci.yml
.phpstorm.meta.php
.DS_Store